{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="header">
        <a href="#" class="brand-logo">App Logo</a>
        <nav>
            <ul class="header-items">
                <li class="header-item">
                    <a href="#">Songs</a>
                </li>
                <li class="header-item">
                    <a href="#">Playlist</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="bg-1"></section>
        <section><h1>songs</h1></section>
    </main>
</body>

<script src="{% static 'js/base.js' %}"></script>
</html>